# For Red Hat based systems if you want to allow sudo access without prompting for the users password
wheel_passwordless: true

# List of users to add to the system
#   password and ssh_key may be omitted
#   groups needs to be defined,but it doesn't need any values
#   To generate encrypted passwords for this file see: 
#      http://docs.ansible.com/ansible/latest/faq.html#how-do-i-generate-crypted-passwords-for-the-user-module
users:
  - name: "user1"
  	password: "some_encryted_password"
    groups: 
      - "wheel"
      - "existing_group"
    ssh_key: "ssh-rsa AAAAB3....."
  - name: "user2"
    password: "some_other_password"
    groups: 
      - "wheel"
  - name: "user3"
    groups: 
    ssh_key: "ssh-rsa AAAAB4....."    